h1 {
    border:2px solid red;
    width:50%;
    text-align:center;
    margin:auto;
}

.circle {
    margin:auto;
    text-align:center;
    border: 5px dashed lightblue; 
    font-size: 2rem;
    width: 500px;
    height: 500px;
    border-radius:250px;
}
.circlepage2 {
    background-color:bisque;
    border: 10px double lightblue;
    width:300px;
    height:300px;
    border-radius:150px;
}
.circle1page3 {
    background-color:bisque;
    width:200px;
    height:200px;
    border-radius:100px;
    margin:auto;
    position:relative;
    right:100px;
}
.circle2page3 {
    background-color:bisque;
    width:200px;
    height:200px;
    border-radius:100px;
    margin:auto;
    position:relative;
    left:80px;
    bottom:200px;
}
.nipple1page3 {
    background-color:pink;
    width:50px;
    height:50px;
    border-radius:25px;
    margin:auto;
    position:relative;
    top:75px;
}
.nipple2page3 {
    background-color:pink;
    width:50px;
    height:50px;
    border-radius:25px;
    margin:auto;
    position:relative;
    top:75px;
}
#float p {
    font-size:larger;

}
.float1 {
    width:10vw;
    height:10vw;
    float:left;
    background-color:black;
    color:white;
    font-size:20px;
    padding:2rem;
    margin-right:1rem;
}
.float2 {
    width:10vw;
    height:10vw;
    float:right;
    background-color:black;
    color:white;
    font-size:20px;
    padding:2rem;
    margin-right:1rem;
}
.clear {
    clear:both;
}
/* Page 2 modifications*/
.page2span {
    color:blueviolet;
}
.page2floatcontainer {
    background-color:antiquewhite;
    border:2px solid #333;
    padding:1rem;
    overflow:auto;
}
.page2p {
    font-size:larger;
}
/*Page 3 Modifications*/
.page3p {
    font-size:larger;
}
.page3floatcontainer {
    background-color:antiquewhite;
    border:2px solid #333;
    padding:1rem;
    display:flow-root;

}
.float2container {
    border:2px dashed #333;
    background-color:blanchedalmond;
    display:flow-root;
    padding:1rem;
}

/*Working on columns*/
.columns {
    display:block;
    margin-top:30px;
    clear:both;
    font-size:25px;
    /*column-count:4;
    column-width:300px;
    */
    columns: 4 300px;
    column-rule:3px dashed #346;
    column-gap:5rem;
}
.columns p {
    margin-top:0;
}
.columns h2 {
    background-color:#333;
    color:white;
    text-align:center;
    padding:1rem;
    break-inside:avoid;
}
#petersonquote {
    margin-top:2rem;
    text-align:center;
    font-size:40px;
    font-weight:800;
    column-span: all;
}
.nowrap {
    white-space:nowrap;
}
/* Positioning: */
.positioning {
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    min-height:200vh;
}
.outer-container {
    border:3px dashed black;
    width:75vw;
    height: 85vw;
    margin: 40px auto;
    position:relative; 
}
.inner-container {
    border:2px solid blue;
    width:40vw;
    height:50vh;
    margin:200px auto;
}
.box {
    width:150px;
    height:150px;
    padding:1rem;
}
.absolute {
    background-color:blue;
    position:absolute;
    top:0px;
    left:0;
   
}
.relative {
    background-color:red;
    position:relative; 
    top:500px;
    left:50px;
    z-index:1;
}
.fixed {
    background-color:green;
    /*position:fixed;*/
    position:relative;
    /*top:300px;
    right:600px;*/
}
.sticky {
    background-color:aquamarine;
    position:sticky;
    bottom:0;
}
.flexboxcontainer {
    max-width:1000px;
    min-height:400px;
    margin-inline:auto;
    border: 2px solid black;
    display:flex;
    justify-content:space-evenly;
    gap:1rem;
    align-items:center;
    flex-direction:row;
    align-content:space-evenly;

}
.flexbox {
    min-width:100px;
    height:100px;
    padding:1rem;
    background-color:black;
    color:white;
    font-size:30px;
    font-weight:700;
}
.flexbox:nth-child(3) {
    flex: 1 2 50px;
}
/*Grid Layout : */
.gridlayoutcontainer {
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-columns:minmax(500px, auto);
}
.gridlayoutbox {
    background-color:black;
    color:white;
    font-size:2rem;
    padding:0.5rem;
    display:grid;
    align-content:center;
    justify-content:center;
}
.gridlayoutcontainer :first-child, .gridlayoutcontainer :last-child {
    background-color:#346;
    grid-column: 1 / 5;
}
.gridlayoutcontainer :nth-child(2) {
    background-color:#333;
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}
.gridlayoutcontainer :nth-child(3), .gridlayoutcontainer :nth-child(5) {
    grid-column:2 /4;
}
.gridlayoutcontainer :nth-child(4) {
    grid-column: 4 /5;
    grid-row: 2/ 4;
}

/*Grid layout, using area properties*/
.gridlayoutcontainer2 {
    font-size:2rem;
    font-weight:700;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px 200px;
    grid-template-areas:
      "sidebar header header header"
      "sidebar section1 section2 section3"
      "sidebar div div div"
      "sidebar footer footer footer";

}
.gridlayoutcontainer2 aside {
    grid-area:sidebar;
    background-color: #333;
}
.gridlayoutcontainer2 header {
    grid-area:header;
    background-color:bisque;
}
.gridlayoutcontainer2 :nth-child(3) {
    grid-area:section1;
    background-color:purple;
}
.gridlayoutcontainer2:nth-child(4) {
    grid-area:section2;
    background-color:pink;
}
.gridlayoutcontainer2:nth-child(5) {
    grid-area:section2;
    background-color:magenta;
}
.gridlayoutcontainer2 footer {
    grid-area:footer;
    background-color:#346;
}
