h1 {
    border:2px solid red;
    width:50%;
    text-align:center;
    margin:auto;
}

.circle {
    margin:auto;
    text-align:center;
    border: 5px dashed lightblue; 
    font-size: 2rem;
    width: 500px;
    height: 500px;
    border-radius:250px;
}
.circlepage2 {
    background-color:bisque;
    border: 10px double lightblue;
    width:300px;
    height:300px;
    border-radius:150px;
}
.circle1page3 {
    background-color:bisque;
    width:200px;
    height:200px;
    border-radius:100px;
    margin:auto;
    position:relative;
    right:100px;
}
.circle2page3 {
    background-color:bisque;
    width:200px;
    height:200px;
    border-radius:100px;
    margin:auto;
    position:relative;
    left:80px;
    bottom:200px;
}
.nipple1page3 {
    background-color:pink;
    width:50px;
    height:50px;
    border-radius:25px;
    margin:auto;
    position:relative;
    top:75px;
}
.nipple2page3 {
    background-color:pink;
    width:50px;
    height:50px;
    border-radius:25px;
    margin:auto;
    position:relative;
    top:75px;
}
#float p {
    font-size:larger;

}
.float1 {
    width:10vw;
    height:10vw;
    float:left;
    background-color:black;
    color:white;
    font-size:20px;
    padding:2rem;
    margin-right:1rem;
}
.float2 {
    width:10vw;
    height:10vw;
    float:right;
    background-color:black;
    color:white;
    font-size:20px;
    padding:2rem;
    margin-right:1rem;
}
.clear {
    clear:both;
}
/* Page 2 modifications*/
.page2span {
    color:blueviolet;
}
.page2floatcontainer {
    background-color:antiquewhite;
    border:2px solid #333;
    padding:1rem;
    overflow:auto;
}
.page2p {
    font-size:larger;
}
/*Page 3 Modifications*/
.page3p {
    font-size:larger;
}
.page3floatcontainer {
    background-color:antiquewhite;
    border:2px solid #333;
    padding:1rem;
    display:flow-root;

}
.float2container {
    border:2px dashed #333;
    background-color:blanchedalmond;
    display:flow-root;
    padding:1rem;
}

/*Working on columns*/
.columns {
    display:block;
    margin-top:30px;
    clear:both;
    font-size:25px;
    /*column-count:4;
    column-width:300px;
    */
    columns: 4 300px;
    column-rule:3px dashed #346;
    column-gap:5rem;
}
.columns p {
    margin-top:0;
}
.columns h2 {
    background-color:#333;
    color:white;
    text-align:center;
    padding:1rem;
    break-inside:avoid;
}
#petersonquote {
    margin-top:2rem;
    text-align:center;
    font-size:40px;
    font-weight:800;
    column-span: all;
}
.nowrap {
    white-space:nowrap;
}